<h3>All the songs!!</h3>
<br>
<%= link_to "New Song", new_song_path %><br>
<p>
<% @songs.each do |song| %>
Title: <%= link_to song.title, song_path(song)%><br>
Artist: <%= song.artist_name %><br>
Genre: <%= song.genre %><br>
  <% if song.released %>
Release Year: <%= song.release_year %><br>
  <% end %>
  <%= button_to "Edit", edit_song_path(song) %>
  <%= button_to "Delete", song_path(song), method: :delete %><br><br>
<% end  %>
</p>
