<h1>ITS ALL DA SONGS</h1>
<table>
  <thead>
    <tr>
      <th>
        Title
      </th>
      <th>
        Released
      </th>
      <th>
        Release Year
      </th>
      <th>
        Artist
      </th>
      <th>
        Genre
      </th>
    </tr>
  </thead>
  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td> <%= song.title %> </td>
        <td> <%= song.released %> </td>
        <td> <%= song.release_year %> </td>
        <td> <%= song.artist_name %> </td>
        <td> <%= song.genre %> </td>
        <td> <%= link_to "#{song.title}", song %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
