<h1>Showing Song: <%= @song.title %></h1>

<p>Song Release Status: <%= @song.released %></p>
<p>Song Release Year: <%= @song.release_year %></p>
<p>Song's Artist: <%= @song.artist_name %></p>
<p>Song's Genre: <%= @song.genre %></p>
